ul {
    padding: 0;
}

.upper-footer {
    background-image: url("/img/footer-bg.jpg");
    height: 400px;
    width: 100%;
    z-index: 0;
    position: relative;

    .container {
        width: 75%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .links {
            display: flex;

            h4 {
                color: white;
            }
        }

        img {
            width: 45%;

        }
    }
}

.lower-footer {
    margin: 0;
    height: 100px;
    width: 100%;
    background-color: rgb(68, 67, 67);
    z-index: 1;
    position: relative;

    .container {
        width: 75%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            border: 2px solid rgb(0, 123, 255);
            background-color: transparent;
            padding: 10px;
            color: white;
        }

        .follow-us {
            display: flex;
            align-items: center;
            gap: 10px;

            p {
                color: rgb(0, 132, 255);
                font-weight: bold;
            }
        }
    }


}